{% load staticfiles %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
	  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Calendar Task App</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="{% static 'calendarapp/css/masters.css' %}">
  </head>
  <body>
    <div class="container" id="top_div">
      <br>
      {% if currdate.month < 10 %}
        <h2 id="top_div_header">{{ currdate|date:'F' }} (0{{currdate.month}}/{{currdate.year}})</h2>
      {% else %}
        <h2 id="top_div_header">{{ currdate|date:'F' }} ({{currdate.month}}/{{currdate.year}})</h2>
      {% endif %}
      <br>
      <div class="container">
        <form id="dateform" action="" method="get" enctype="multipart/form-data">
          <div class="row">
            {% for field in form %}
            <div class="form-group col-sm-5">
              <label>{{ field.label_tag }}</label>
              {{ field|add_class:'form-control' }}
            </div>
            {% endfor %}
          <div class="form-group col-sm-2" >
            <br>
            <button type="submit" id="submitdate" class="btn btn-primary">Ok</button>
          </div>
        </div>
        </form>
      <div class="container">
      <table id="calendar" class="table table-borderless ">
        <thead class="thead-light">
          <tr>
            <th>Sun</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% if first_day == 'Monday' %}
            <td class="border border-secondary"></td>
            {% endif %}
            {% if first_day == 'Tuesday' %}
            <td class="border border-secondary"></td>
            <td class="border border-secondary"></td>
            {% endif %}
            {% if first_day == 'Wednesday' %}
            <td class="border border-secondary"></td>
            <td class="border border-secondary"></td>
            <td class="border border-secondary"></td>
            {% endif %}
            {% if first_day == 'Thursday' %}
            <td class="border border-secondary"></td>
            <td class="border border-secondary"></td>
            <td class="border border-secondary"></td>
            <td class="border border-secondary"></td>
            {% endif %}
            {% if first_day == 'Friday' %}
            <td class="border border-secondary"></td>
            <td class="border border-secondary"></td>
            <td class="border border-secondary"></td>
            <td class="border border-secondary"></td>
            <td class="border border-secondary"></td>
            {% endif %}
            {% if first_day == 'Saturday' %}
            <td class="border border-secondary"></td>
            <td class="border border-secondary"></td>
            <td class="border border-secondary"></td>
            <td class="border border-secondary"></td>
            <td class="border border-secondary"></td>
            <td class="border border-secondary"></td>
            {% endif %}
            {% for block in blocks %}
              {% if block.date == first_date %}
                {% if block.status == 'Present' %}
                <td class="border border-success present-date">
                {% endif %}
                {% if block.status == 'Holiday' %}
                <td class="border border-primary holiday-date">
                {% endif %}
                {% if block.status == 'Leave' %}
                <td class="border border-danger leave-date">
                {% endif %}
                {% if block.status == 'None' %}
                <td class="border border-secondary">
                {% endif %}
                  <button type="button" onclick="showValue({{ first_date|date:'d' }})" class="btn btn-danger rounded-circle date-btn" data-toggle="modal" data-target="#stModal" id="btn1">{{ first_date.day }}</button>
                  {% if block.status != 'None' %}
                  <p class="date-status"><ins><b>{{ block.status }}</b></ins></p>
                  {% endif %}
                  {% if block.task1 != "None" %}
                    {% if block.task1 == "Work Allocated" %}
                      <p class="date-task work-task"><b>{{ block.task1 }}</b></p>
                    {% endif %}
                    {% if block.task1 == "Scheduled Call" %}
                      <p class="date-task call-task"><b>{{ block.task1 }}</b></p>
                    {% endif %}
                    {% if block.task1 == "Meeting Scheduled" %}
                      <p class="date-task meet-task"><b>{{ block.task1 }}</b></p>
                    {% endif %}
                  {% endif %}
                  {% if block.task2 != "None" %}
                  {% if block.task2 == "Work Allocated" %}
                    <p class="date-task work-task"><b>{{ block.task2 }}</b></p>
                  {% endif %}
                  {% if block.task2 == "Scheduled Call" %}
                    <p class="date-task call-task"><b>{{ block.task2 }}</b></p>
                  {% endif %}
                  {% if block.task2 == "Meeting Scheduled" %}
                    <p class="date-task meet-task"><b>{{ block.task2 }}</b></p>
                  {% endif %}
                  {% endif %}
                  {% if block.task3 != "None" %}
                  {% if block.task3 == "Work Allocated" %}
                    <p class="date-task work-task"><b>{{ block.task3 }}</b></p>
                  {% endif %}
                  {% if block.task3 == "Scheduled Call" %}
                    <p class="date-task call-task"><b>{{ block.task3 }}</b></p>
                  {% endif %}
                  {% if block.task3 == "Meeting Scheduled" %}
                    <p class="date-task meet-task"><b>{{ block.task3 }}</b></p>
                  {% endif %}
                  {% endif %}
              </td>
              {% endif %}
            {% endfor %}
            {% if first_date not in block_date_array %}
            <td class="border border-secondary">
              <button type="button" onclick="showValue({{ first_date|date:'d' }})" class="btn btn-danger rounded-circle date-btn" data-toggle="modal" data-target="#stModal">{{ first_date.day }}</button>
            </td>
            {% endif %}
            {% if first_day == 'Saturday' %}
          </tr>
          <tr>
            {% endif %}
            {% for date in date_array %}
            {% for block in blocks %}
              {% if block.date == date %}
                {% if block.status == 'Present' %}
                <td class="border border-success present-date">
                {% endif %}
                {% if block.status == 'Holiday' %}
                <td class="border border-primary holiday-date">
                {% endif %}
                {% if block.status == 'Leave' %}
                <td class="border border-danger leave-date">
                {% endif %}
                {% if block.status == 'None' %}
                <td class="border border-secondary">
                {% endif %}
                  <button type="button" onclick="showValue({{ date|date:'d' }})" class="btn btn-danger rounded-circle date-btn" data-toggle="modal" data-target="#stModal" id="btn1">{{ date.day }}</button>
                  {% if block.status != 'None' %}
                  <p class="date-status"><ins><b>{{ block.status }}</b></ins></p>
                  {% endif %}
                  {% if block.task1 != "None" %}
                    {% if block.task1 == "Work Allocated" %}
                      <p class="date-task work-task"><b>{{ block.task1 }}</b></p>
                    {% endif %}
                    {% if block.task1 == "Scheduled Call" %}
                      <p class="date-task call-task"><b>{{ block.task1 }}</b></p>
                    {% endif %}
                    {% if block.task1 == "Meeting Scheduled" %}
                      <p class="date-task meet-task"><b>{{ block.task1 }}</b></p>
                    {% endif %}
                  {% endif %}
                  {% if block.task2 != "None" %}
                  {% if block.task2 == "Work Allocated" %}
                    <p class="date-task work-task"><b>{{ block.task2 }}</b></p>
                  {% endif %}
                  {% if block.task2 == "Scheduled Call" %}
                    <p class="date-task call-task"><b>{{ block.task2 }}</b></p>
                  {% endif %}
                  {% if block.task2 == "Meeting Scheduled" %}
                    <p class="date-task meet-task"><b>{{ block.task2 }}</b></p>
                  {% endif %}
                  {% endif %}
                  {% if block.task3 != "None" %}
                  {% if block.task3 == "Work Allocated" %}
                    <p class="date-task work-task"><b>{{ block.task3 }}</b></p>
                  {% endif %}
                  {% if block.task3 == "Scheduled Call" %}
                    <p class="date-task call-task"><b>{{ block.task3 }}</b></p>
                  {% endif %}
                  {% if block.task3 == "Meeting Scheduled" %}
                    <p class="date-task meet-task"><b>{{ block.task3 }}</b></p>
                  {% endif %}
                  {% endif %}
              </td>
              {% endif %}
            {% endfor %}
            {% if date not in block_date_array %}
            <td class="border border-secondary">
              <button type="button" onclick="showValue({{ date|date:'d' }})" class="btn btn-danger rounded-circle date-btn" data-toggle="modal" data-target="#stModal">{{ date.day }}</button>
            </td>
            {% endif %}
              {% if date in sat_date_array %}
                </tr>
                <tr>
            {% endif %}
            {% endfor %}
          </tr>
        </tbody>
      </table>
      </div>
      <br>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="stModal" tabindex="-1" role="dialog" aria-labelledby="stModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="stModalLabel">Update</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="blockform" action="" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <label for="date">Date</label>
                <input type="text" class="form-control" id="date" name="date" value="1" disabled>
              </div>
              <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" id="status" name="status">
                  <option>None</option>
                  <option>Present</option>
                  <option>Leave</option>
                  <option>Holiday</option>
                </select>
              </div>
              <div class="form-group">
                <label for="task1">Task1</label>
                <select class="form-control" id="task1" name="task1">
                  <option>None</option>
                  <option>Work Allocated</option>
                  <option>Scheduled Call</option>
                  <option>Meeting Scheduled</option>
                </select>
              </div>
              <div class="form-group">
                <label for="task2">Task2</label>
                <select class="form-control" id="task2">
                  <option>None</option>
                  <option>Work Allocated</option>
                  <option>Scheduled Call</option>
                  <option>Meeting Scheduled</option>
                </select>
              </div>
              <div class="form-group">
                <label for="task3">Task3</label>
                <select class="form-control" id="task3">
                  <option>None</option>
                  <option>Work Allocated</option>
                  <option>Scheduled Call</option>
                  <option>Meeting Scheduled</option>
                </select>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <a href="{% url 'index' %}">
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  <!--Bootstrap JS Scripts -->
    <script type="text/javascript" src="{% static 'calendarapp/js/clickdateset.js' %}"></script>
    <script type="text/javascript" src="{% static 'calendarapp/js/requestindex.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
